<html>
  <head></head>
  <body>
    <h1>Add an Artist:</h1>
    <form action="/artist" method="POST">
      <label for="name">Name:<label><input type="text" name="name">
      <label for="genre">Genre:<label><input type="text" name="genre">
      <input type="submit" value="Submit the form">
    </form>
  </body>
</html>